<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Anfiteatro</title>
 <link rel="stylesheet" type="text/css" href="./../../../components/base/base.css" media="screen">
 <style>
  .header {
   margin: 10vh 0;
  }
  @media (max-width: 919px) {
   .header {
    margin: 7vh 0;
   }
  }
 </style>
</head>
<body>
 <div class="background-image"></div>
 <div class="body">
  <nav>
   <header>
    <div class="nav-header">
    <a class="textMedium" style="color: white;" href="./../../../index.html">Parada</a>
    </div>
   </header>
   <main>
    <div class="nav-main">
     <a class="textMedium" style="color: white;" href="./../anfiteatro.html">Anfiteatro</a> |
     <a class="textMedium" style="color: white;" href="./../../biblioteca/biblioteca.html">Biblioteca</a> |
     <a class="textMedium" style="color: white;" href="./../../pinacoteca/pinacoteca.html">Pinacoteca</a>
    </div>
   </main>
  </nav>
 </div>
</body>
</html>