@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Cutive Mono', monospace;
 background-color: black ;
 color: white;
 text-align: center;
 margin: 10px 25vw;
 font-size: 1vw;
}
.main, .footer {
 margin-bottom: 1vw;
}
h1, h2, h3, h4, h5, h6, p, a {
 font-weight: normal;
}
a {
 text-decoration: none;
}
nav {
 justify-content: space-between;
 display: flex;
 margin: 20px 10px;
}
a:hover { 
 text-decoration: underline;
 cursor: pointer;
}
@media (max-width: 919px) {
 body {
  margin: 10px;
  font-size: 3vw;
 }
}